.active{
    color: #ff0000;
}
/* .pokeball {
    background-image: url('pokeball.svg');
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    padding-left: 25px;
    line-height: 20px;
  } */